.landing {
  &-header{
    padding: 100px 0;
    text-align: left;
    background-color: #f9f9f9;
    background-image: linear-gradient(rgba(255, 255, 255, 0.97), rgba(255,255,255, 0.95)), asset_url('abstract.jpg');
    box-shadow: inset 0 -4px 12px -10px rgba(0,0,0,.2);
    .landing-title{
      max-width: 462px;
      text-transform: uppercase;
      font-size: 39px;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
  &-description{
    font-weight: 300;
    max-width: 500px;
    font-size: 19px;
    color: #5b5b5b;
  }
  &-subtitle{
    font-size: 32px!important;
    text-align: center;
    padding-bottom: 30px;
  }
  &-content{
    padding: 70px 0;
  }
  &-course{
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    &__image{
      padding-top: 56.29%;
      background-size: cover;
      background-position: center;
      background-color: rgba(0,0,0,.1);
    }
    &__info{
      background: #fff;
      padding: 30px;
      flex: 1;
    }
    &__title{
      margin: 0;
      font-size: 23px;
    }
    &__paragraph{
      margin-top: 10px;
      font-size: 15px;
      font-weight: 100;
      color: #4c4c4c;
    }
  }
  &-cons, &-conss{
    padding: 100px 0;
  }
  &-conss{
    background: #FFF;
  }
}

.con{
  text-align: center;
  background: #f7f7f7;
  box-shadow: 0 9px 11px -10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 40px 15px;
  padding-bottom: 20px;
  position: relative;
  margin-top: 20px;
  &__icon{
    width: 70px;
    display: block;
    margin: auto;
    margin-bottom: 25px;
  }
  &__description{
    margin-top: 4px;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    padding: 0 41px;
  }
  &__title{
    color: #282828;
    font-size: 15px;
  }
  &-description{
    text-align: center;
    margin-top: -15px;
    font-weight: 300;
  }
  &-title{
    color: #282828;
    text-align: center;
    text-transform: uppercase;
  }
  &:nth-child(2){
    transform: scale(1.1);
  }
}
.cons{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-gap: 50px;
}
.conss{
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin-top: 10px;
}
.adv{
  display: flex;
  flex-direction: column;
  &:hover .adv__image{
    background-size: 110%;
  }
  &__image{
    padding-top: 56.25%;
    background-size: 100%;
    background-position: center;
    transition: background-size 0.2s;
  }
  &__info{
    padding: 30px;
    color: #fff;
    flex: 1;
  }
  &__title{
    font-size: 22px;
  }
  &__description{
    font-weight: 200;
    font-size: 14px;
  }
  &:nth-child(1) .adv__info{
    background: #6b7de0;
  }
  &:nth-child(2) .adv__info{
    background: #6849b6;
  }
  &:nth-child(3) .adv__info{
    background: #e84c60;
  }
  &:nth-child(4) .adv__info{
    background: #9766c7;
  }
}
.contact-block{
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 50px;
  max-width: 400px;
  margin-left: auto;
  text-align: center;
  background: #fff;
  &__title{
    color: #000;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
  }
  input[type="text"]{
    padding: 17px 20px;
    font-family: inherit;
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    border: none;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    text-align: center;
    outline: none;
    background: #f2f5f9;
    transition: background 0.2s;
    &:hover{
      background: #edeff3;
    }
  }
  input[type="submit"]{
    margin-top: 10px;
  }
}